/* Global Styles */

body { margin: 0px; }

a {
  color: #00C;
  font-weight: bold;
  text-decoration: none; }
	
a:hover {
  color: #009;
  text-decoration: underline; }
	

table {
  background: #FFF;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #000;
  padding: 5px; }
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: inherit;
  border: inherit;
  vertical-align: inherit; }

h1 { text-align: center; }

.title {
  margin: auto;
  vertical-align: middle;
  text-align: center;
  border: none; }

.markup {
  padding: 0px 15px 5px 0px;
  border: none;
  text-align: left; }

.round { border-radius: 5px; }

.shadow { box-shadow: 1px 1px 4px #000B; }

.strong { font-weight: bold; }

.content {
  width: 1000px;
  background: #EEE;
  margin: 10px auto;
  padding: 16px; }

.contentheader {
  background: #DEEE;
  border: 1px solid #DCC;
  color: #449;
  font: bold 18px Courier, monospace;
  margin-bottom: 10px;
  padding: 2px 8px;  
  text-shadow: 1px 1px 4px #AAA; }
.contentheader:nth-child(n+2) { margin-top: 30px; }
