/* Global Styles */

body {
  background: #FFF url('images/motif2d.png');
  margin: 0px; }
	
a {
  color: #C00;
  font-weight: bold;
  text-decoration: none; }
	
a:hover {
  color: #900;
  text-decoration: underline; }

div.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }
div.header { background: #9CBA; }
