body {
  background: #FFF url('images/motif2d.png');
  margin: 0px; }
	
a {
  color: #C00;
  font-weight: bold;
  text-decoration: none; }
a:hover {
  color: #900;
  text-decoration: underline; }
h3 { margin-top: 40px: }

#maintitle { font: italic bold 300% "Times New Roman", serif; }
#maze {
  font: 18px "Times New Roman", serif;
  line-height: 18px; }

div.content { margin: 0 0 20px 20px; }
div.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }
div.header {
  align-items: center;	
  background: #9CBA; }
div.flexbox > div.right { margin-left: auto; }
