@charset "utf-8";
/* CSS Document */

* { box-sizing: border-box; }

body {
  background: #221800 url("../images/mcbg.png") repeat-x;
  color: #333;
  font: 14px Verdana, sans-serif;
  margin: 0;
  padding: 0; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

blockquote { font-style: italic; }

p {
  margin: 0;
  padding: 0 0 8px 0; }
p.big { font-size: 150%; }
p.heading { 
  font-style: italic;
  font-weight: bold; }
p.heading:nth-child(n+2) { margin-top: 30px; }
p.indent { margin-left: 20px; }

span.note {
  color: #999;
  font-size: 75%; 
  font-style: italic; }

table { 
  border-collapse: collapse; 
  font-size: 16px; }
th, td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center; }
th { background: #F5E9E0; }
th.sortable:hover { 
  background: #E5C9C0; 
  cursor: pointer; }

table.info td {
  border-style: none;
  font-size: 12px;
  padding: 5px;
  text-align: left;
  vertical-align: top; }

ul { margin: 0 0 8px 0; }

.round { border-radius: 5px; }

.shadow { box-shadow: 1px 1px 4px #000B; }

.header {
  height: 150px;
  margin: 10px auto 0;
  position: relative;
  width: 1000px; }

.server {
  background: #59B;
  height: 60px;
  margin: 10px auto 8px;
  padding: 5px; 
  width: 468px; }

.navbar {
  background: #A11 url(../images/red64.png) repeat;
  color: #FFF;
  font: 18px "Times New Roman", serif;
  height: 40px;
  margin: 10px auto;
  text-align: center;
  width: 1000px; }

div.navbar .navitem {
  float: left;
  height: 40px;
  line-height: 34px;
  margin: 4px 10px;
  padding: 0 0 0 40px;
  text-shadow: 4px 4px 4px #000; }

div.navbar .navitem a:link, div.navbar .navitem a:visited { color: #EEE; }
div.navbar .navitem a:hover, div.navbar .navitem a:active { color: #FFF; }

div.navbar .navitem.home { background: url("../images/grass.png") no-repeat; }
div.navbar .navitem.gall { background: url("../images/painting.png") no-repeat; }
div.navbar .navitem.maps { background: url("../images/map.png") no-repeat; }
div.navbar .navitem.worl { background: url("../images/pickaxe.png") no-repeat; }
div.navbar .navitem.news { background: url("../images/bookshelf.png") no-repeat; }
div.navbar .navitem.rule { background: url("../images/book.png") no-repeat; }
div.navbar .navitem.tour { background: url("../images/compass.png") no-repeat; }
div.navbar .navitem.tool { background: url("../images/craft.png") no-repeat; }
div.navbar .navitem.link { background: url("../images/rail.png") no-repeat; }

.content {
  background: #EEE;
  margin: 10px auto;
  padding: 16px;
  width: 1000px; }

.contentheader {
  background: #F5E9E0;
  border: 1px solid #DCC;
  color: #944;
  font: bold 18px Courier, monospace;
  margin-bottom: 10px;
  padding: 2px 8px;
  text-shadow: 1px 1px 4px #AAA; }

.clickable {
  color: #00F;
  cursor: pointer; 
  width: 400px; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 20px 20px; }
.gallery > div.pic { max-width: min-content; }
.gallery > div.right { margin-left: auto; }
.flextile {
  background: #FEE;
  border: 1px outset #888;
  font-weight: bold;
  height: 45px;
  margin: 0 -17px -17px 0;
  padding: 10px;
  text-align: center;
  width: 315px; }
.flextile:hover {
  background-color: #EDD;
  border: 2px outset #888; 
  font-size: 120%; }
.caption {
  margin: 8px 16px;
  text-align: center; }


area { outline: none; }

.grey { color: #999; }

.title { 
  font-size: 120%; 
  font-weight: bold; }
