@charset "utf-8";
/* CSS Document */

* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #221800 url("../images/mcbg.png") repeat-x;
  color: #333;
  font: 14px Verdana, sans-serif; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

p {
  margin: 0;
  padding: 0 0 8px 0; }
p.big { font-size: 150%; }
p.heading { font: italic bold; }
p.heading:not(.big) { margin-top: 20px; }
p.indent { margin-left: 20px; }

span.note {
  color: #999;
  font: italic 75%; }

table { border-collapse: collapse; }
th, td {
  border: 1px solid #000;
  text-align: center;
  padding: 10px; }
th { background: #f5e9e0; }
th.sortable:hover { background: #e5c9c0; }

table.gallery td {
  border-style: none;
  text-align: center; }

table.info td {
  border-style: none;
  text-align: left;
  vertical-align: top;
  font-size: 75%;
  padding: 5px; }

ul { margin: 0 0 8px 0; }

.fl {float: left}

.round { border-radius: 5px; }

.shadow { box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75); }

.header {
  position: relative;
  height: 150px;
  width: 1000px;
  margin: 10px auto 0; }

.server {
  height: 60px;
  width: 468px;
  background: #59b;
  margin: 10px auto 8px;
  padding: 5px; }

.navbar {
  height: 40px;
  width: 1000px;
  color: #fff;
  font: 18px "Times New Roman", serif;
  text-align: center;
  margin: 10px auto;
  background: #a11 url(../images/red64.png) repeat; }

div.navbar .navitem {
  height: 40px;
  margin: 4px 10px;
  padding: 0 0 0 40px;
  line-height: 34px;
  text-shadow: 4px 4px 4px #000; }

div.navbar .navitem a:link, div.navbar .navitem a:visited { color: #eee; }
div.navbar .navitem a:hover, div.navbar .navitem a:active { color: #fff; }

div.navbar .navitem.home { background: url("../images/grass.png") no-repeat; }
div.navbar .navitem.gall { background: url("../images/painting.png") no-repeat; }
div.navbar .navitem.maps { background: url("../images/map.png") no-repeat; }
div.navbar .navitem.worl { background: url("../images/pickaxe.png") no-repeat; }
div.navbar .navitem.news { background: url("../images/bookshelf.png") no-repeat; }
div.navbar .navitem.rule { background: url("../images/book.png") no-repeat; }
div.navbar .navitem.tour { background: url("../images/compass.png") no-repeat; }
div.navbar .navitem.tool { background: url("../images/craft.png") no-repeat; }
div.navbar .navitem.link { background: url("../images/rail.png") no-repeat; }

.content {
  width: 1000px;
  background: #eee;
  margin: 10px auto 8px;
  padding: 16px; }

.contentheader {
  background: #f5e9e0;
  margin-bottom: 10px;
  padding: 2px 8px;
  color: #944;
  font: bold 18px Courier, monospace;
  border: 1px solid #e0d9d0;
  text-shadow: 1px 1px 4px #aaa; }

.gallery {
  display: flex;
  flex-wrap: wrap; }
.gallery > div {
  max-width: min-content;
  margin: 0 0 20px 20px; }
.gallery > button {
  border: 1px solid #000;
  margin: 0 0 5px 20px;
  padding: 10px;
  width: 300px; }
.caption {
  text-align: center;
  margin: 8px 16px; }


area { outline: none; }

.grey { color:#999; }

.title { font: bold 120%; }
