@charset "utf-8";

body { cursor: default; }

.menutable { border-collapse: collapse; }
.menutable td, .menutable th { border: 1px solid #000; }
th, td { 
	padding: 5px;
	vertical-align: top; }
th { color: #DDD; }

.market {
	font-family: sans-serif;
	font-size: 100%; }
.markettable {
	border-collapse: collapse;
	color: #FFF;
	padding: 2px;
	text-align: left; }

table.hoverable tr:hover { background-color: #999; }

table.redheader th { background: #633; }
table.greenheader th { background: #363; }
table.blueheader th { background: #338; }
table.yellowheader th { background: #873; }

div.tab {
	background: #FFF;
	color: #000;
	font-size: 120%;
	overflow: hidden;
	text-align: center; }
div.tab button {
	background-color: inherit;
	border: none;
	cursor: pointer;
	float: left;
	font-size: 17px;
	outline: none;
	padding: 2px 10px 0;
	transition: 0.3s; }
div.tab button:hover { background: #DDD; }
div.tab button.active { background: #CCC; }
.tabcontent { display: none; }

.huge {	font-size: 200%; }
.big { font-size: 150%; }
.enlarged { font-size: 120%; }
.reduced { font-size: 75%; }
.small { font-size: 50%; }

.popup .popuptext {
	background: #000;
	border: 2px solid #999;
	border-radius: 5px;
	color: #FFF;
	left: -36px;
	padding: 5px;
	top: 22px;
	vertical-align: center;
	visibility: hidden;
	width: 100px;
	z-index: 99; }

.popup:hover .popuptext { visibility: visible; }

.tooltip { position: relative; }

.tooltiptext {
	background: #000;
	border: 3px solid #333;
	border-radius: 6px;
	left: 50%;
	margin-left: -180px;
	padding: 5px;
	position: absolute;
	top: 100%;
	visibility: hidden;
	width: 200px;
	z-index: 1; }

.tooltip:hover div.wares { filter: brightness(0.5); }

.tooltip:hover .tooltiptext { visibility: visible; }

.priceText {
	color: #0C0;
	font-size: 300%;
	font-weight: bold;
	left: 10px;
	margin-right: -100px;
	opacity: 1.0;
	position:absolute;
	top: 0px;
	transition: 2s ease-out;
	z-index: 2; }

.person {
	animation-direction: alternate;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-name: living_quarters;
	position: relative; }

@keyframes living_quarters {
	0% {left: 15px; top: 2px;}
	10% {left: 25px; top: 2px;}
	22% {left: 20px; top: 4px;}
	23% {left: 25px; top: 10px;}
	25% {left: 73px; top: 10px;}
	28% {left: 71px; top: 4px;}
	30% {left: 73px; top: 10px;}
	32% {left: 15px; top: 10px;}
	33% {left: 15px; top: 20px;}
	35% {left: 43px; top: 67px;}
	50% {left: 43px; top: 67px;}	
	52% {left: 70px; top: 47px;}
	60% {left: 71px; top: 50px;}
	62% {left: 40px; top: 40px;}
	68% {left: 45px; top: 40px;}
	70% {left: 4px; top: 67px;}
	91% {left: 4px; top: 67px;}
	93% {left: 20px; top: 10px;}
	95% {left: 5px; top: 10px;}
	98% {left: 50px; top: 8px;}
	100% {left: 53px; top: 8px;} }

.clickable { cursor: pointer; }

.commTab { cursor: pointer; }

.commWindow {
	background: #BBB;
	border: 3px solid #FF0;
	border-radius: 5px;
	color: #000;
	font-size: 150%;
	max-height: 700px;
	padding: 0px;
	position: absolute;
	top: 20px;
	z-index: -3; }

.commButton {
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
	font-size: 150%; }
.commButton:hover { background: #EEC; }

.localeContainer { visibility: hidden; }

.worldImg {
	height: 128px;
	width: 300px; }

.worldImg:hover + .localeContainer { visibility: visible; }

.localeContainer:hover { visibility: visible; }

.locale {
	cursor: pointer;
	position: absolute;
	transition: 1s ease;
	width: 32px; }

.locale:hover {
	filter: hue-rotate(80deg);
	transform: scale(1.5, 1.5); }

.gamewindow {
	left: 0px;
	position: absolute;
	top: 0px; }

.hull {
	height: 100px;
	position: absolute;
	width: 100px; }

.cargo {
	background: #FFF;
	border-radius: 10px;
	height: 80px;
	left: 10px;
	opacity: 0.8;
	position: absolute;
	top: 10px;
	transition: 2s ease-in-out;
	width: 80px;
	z-index: 1; }

.goods {
	left: 24px;
	position: absolute;
	top: 24px; }



/*   Animations   */

.fadable { animation: fadable 3s ease-out infinite alternate; }
@keyframes fadable {
	from {opacity: 0.0}
	to {opacity: 1.0} }

.rotating { animation: rotating 2s linear infinite; }
@keyframes rotating { 100% {transform: rotate(360deg)} }

.arcing { animation: arcing 20s ease-in-out infinite alternate; }
@keyframes arcing {
	from {transform: rotate(-60deg)}
	to {transform: rotate(60deg)} }

.heating { animation: heating 6s linear; }
@keyframes heating { 100% {filter: brightness(1.5) blur(1px) saturate(3)} }

.lighting { animation: lighting 11s cubic-bezier(1, 0, 1, 0) infinite alternate; }
@keyframes lighting { 100% {filter: saturate(4)} }
