body {
  background-color: #FFF;
  background-image: url("../images/brickfield.jpg");
  font-size: 100%; }

table {
  background-color: #EEF;
  border-collapse: collapse;
  font: 24px Tahoma, sans-serif;
  margin: 10px; }
table, td, th {
  padding: 4px 6px;
  text-align: left;
  vertical-align: middle; }
tr.alt { background-color: #DDE; }

a:link { color: #000; }
a:visited { color: #987; }
a:hover { color: #D96; }
a:active { color: #952; }

h2 {
  color: #FFF;
  font: bold 36px Impact, sans-serif;
  text-shadow: 5px 5px #0009;
  -webkit-text-stroke: 0.5px #000; }

img {
  max-height: 110px;
  width: 75px; }

div.flexbox {
  display: flex; 
  flex-wrap: wrap;
  gap: 20px; }

div.col {
  width: 800px; }
