body { background: #FFF url("../images/brickfield.jpg"); }

table {
  background: #EEF;
  border-collapse: collapse;
  font: 1.5rem Tahoma, sans-serif;
  margin: 10px; }
table, td, th {
  padding: 4px 6px;
  text-align: left;
  vertical-align: middle; }
tr.alt { background: #DDE; }

a:link { color: #000; }
a:visited { color: #987; }
a:hover { color: #D96; }
a:active { color: #952; }

h2 {
  color: #FFF;
  font: bold 2.5rem Impact, sans-serif;
  text-shadow: 0.4rem 0.4rem #0009;
  -webkit-text-stroke: 0.5px #000; }

img {
  max-height: 110px;
  text-align: center;
  width: 75px; }

div.flexbox {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; }
