body {
  background-color: #FFF;
  background-image: url('../images/lego_plate.jpg');
  font-size: 100%; }

table {
  background-color: #EEF;
  border-collapse: collapse;
  font: 24px Tahoma, sans-serif;
  margin: 1.5em; }
td { height: 2em; }
table, td, th {
  padding: 0.3em;
  text-align: left;
  vertical-align: middle; }

a:link { color: #000; }
a:visited { color: #987; }
a:hover { color: #D96; }
a:active { color: #952; }

img {
  max-height: 110px;
  width: 75px; }

button {
  background: none;
  border: none;
  padding: 0; }

div.flexbox {
  display: flex; 
  flex-wrap: wrap;
  gap: 20px; }

div.col {
  width: 750px; }
